In [1]:
import pandas as pd
import re
df = pd.read_csv('Results-Cyto-B02fld1.txt', sep='\t', 
                 engine='python', 
                 usecols=['Label', 'Area', 'IntDen'])

In [2]:
df.head()

                          Label     Area       IntDen
0  B02_fld1:0001-0020:DAPI-0001  278.483   788780.068
1  B02_fld1:0002-0011:DAPI-0001  138.392   768845.634
2  B02_fld1:0003-0022:DAPI-0001  320.934  2718074.845
3  B02_fld1:0004-0011:DAPI-0001  108.676   336691.483
4  B02_fld1:0005-0026:DAPI-0001  363.386  1467866.834

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33624 entries, 0 to 33623
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   33624 non-null  object
 1   Area    33624 non-null  float64
 2   IntDen  33624 non-null  float64
dtypes: float64(2), object(1)
memory usage: 788.2+ KB

In [4]:
well = r'[A-Z]+.*?(?=_)'
field = r'(?<=d)[\d]{1,1}?(?=:)'
cell_id = r'(\d+)-(\d+)'
channel = r'(?<=:)[A-Z]+.*?(?=-)'

df['Well'] = df['Label'].apply(lambda x: re.search(well, x).group())
df['Field'] = df['Label'].apply(lambda x: re.search(field, x).group())
df['Cell ID'] = df['Label'].apply(lambda x: re.search(cell_id, x).group())
df['Channel'] = df['Label'].apply(lambda x: re.search(channel, x).group())
df['Cycle'] = df['Label'].apply(lambda x: int(x[-1:]))
df = df[['Cell ID', 'Well', 'Field', 'Channel', 'Cycle', 'Area', 'IntDen']]

In [5]:
df.head(10)

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0020  B02     1    DAPI      1  278.483   788780.068
1  0002-0011  B02     1    DAPI      1  138.392   768845.634
2  0003-0022  B02     1    DAPI      1  320.934  2718074.845
3  0004-0011  B02     1    DAPI      1  108.676   336691.483
4  0005-0026  B02     1    DAPI      1  363.386  1467866.834
5  0006-0016  B02     1    DAPI      1  202.070   618523.579
6  0007-0023  B02     1    DAPI      1  311.595  1278760.974
7  0008-0011  B02     1    DAPI      1  101.884   410215.151
8  0009-0020  B02     1    DAPI      1  117.166   185725.012
9  0010-0028  B02     1    DAPI      1  266.596   930858.866

In [6]:
df.shape

(33624, 7)

In [7]:
df['Channel'].value_counts()

DAPI    8406
FITC    8406
Cy3     8406
Cy5     8406
Name: Channel, dtype: int64

In [8]:
df['Cycle'].value_counts()

6    5604
5    5604
4    5604
3    5604
2    5604
1    5604
Name: Cycle, dtype: int64

In [9]:
df['Cell ID'].value_counts()

0695-0542    24
1246-0917    24
0467-0397    24
0627-0497    24
0953-0700    24
             ..
1304-0964    24
1065-0776    24
0098-0101    24
0922-0681    24
0840-0627    24
Name: Cell ID, Length: 1401, dtype: int64

In [10]:
print('Total cells in well {} field {}: {}'\
      .format(df.Well[0], df.Field[0], int(df.shape[0] / df['Cell ID'].value_counts()[0])))

Total cells in well B02 field 1: 1401