#### Algorithm walks through the dataset in each plate then:
#### 1. Extract Cell ID, Well, Field Channel, Cycle, Area, Integrated Density for each cell
#### 2. Extract the number of cells in each field and in each well

##### First, import Pandas library for reading the dataset from local drive to .csv daframe
##### Second, import re library for text extraction and processing

In [1]:
import pandas as pd
import re

''' Construct the universal Results-Cyto- data file path in local drive named path
    Construct a list of well IDs: B02-B10 named WELLS
    Construct a list of field IDs: fld1-fld9 named FIELD
'''
path = './052018_Cyto/Results-Cyto-'
WELLS = ['B0{}'.format(k) for k in range(2, 5)]
FIELD = ['fld{}'.format(k) for k in range(1, 10)]

''' Construct a list of filenames associated with Cyto in the dataset named files_Cyto
'''
files_Cyto = [path + '{}{}.txt'.format(w, f) 
              for w in WELLS for f in FIELD]

''' Read all Cyto data files in the dataset into a list of dataframes
'''
df_Cyto = [pd.read_csv(file, sep='\t', 
                 engine='python', 
                 usecols=['Label', 'Area', 'IntDen']) 
           for file in files_Cyto]

''' Double check WELLS, FIELDs that have been processed
    Double check the number of Cyto files that have been read
'''
n = len(df_Cyto)
print(WELLS)
print(FIELD)
print('number of Cyto files that have been read: ', len(df_Cyto))

['B02', 'B03', 'B04']
['fld1', 'fld2', 'fld3', 'fld4', 'fld5', 'fld6', 'fld7', 'fld8', 'fld9']
number of Cyto files that have been read:  27

#### Print the first 10 entries in all dataframes of the dataset

In [2]:
for df in df_Cyto:
    print('\n', '* ' * 26, '\n')
    print(df.head(10))

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B02_fld1:0001-0031:DAPI-0001  164.712  518987.253
1  B02_fld1:0002-0033:DAPI-0001  134.147  312344.627
2  B02_fld1:0003-0032:DAPI-0001  151.977  385528.682
3  B02_fld1:0004-0029:DAPI-0001  122.261  304401.927
4  B02_fld1:0005-0033:DAPI-0001  213.956  668529.047
5  B02_fld1:0006-0030:DAPI-0001  118.865  320494.490
6  B02_fld1:0007-0031:DAPI-0001  134.147  414814.360
7  B02_fld1:0008-0033:DAPI-0001  211.409  852663.821
8  B02_fld1:0009-0034:DAPI-0001  250.465  551172.377
9  B02_fld1:0010-0031:DAPI-0001  159.618  601225.391

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld2:0001-0027:DAPI-0001  164.712  1321761.924
1  B02_fld2:0002-0028:DAPI-0001  108.676   404588.613
2  B02_fld2:0003-0031:DAPI-0001  129.053   360008.463
3  B02_fld2:0004-0034:DAPI-0001  202.070   623556.644
4  B02_fld2:0005-0031:DAPI-0001  132.449   261812.759
5  B02_fld2:0006-0036:DAPI-0001  147.732   516743.260
6  B02_fld2:0007-0041:DAPI-0001  185.089   703080.425
7  B02_fld2:0008-0035:DAPI-0001  139.241   419644.506
8  B02_fld2:0009-0039:DAPI-0001  149.430   339607.909
9  B02_fld2:0010-0038:DAPI-0001  135.845   326456.396

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld3:0001-0027:DAPI-0001   98.488   569467.330
1  B02_fld3:0002-0032:DAPI-0001  194.428  1073295.107
2  B02_fld3:0003-0036:DAPI-0001  185.089   749465.618
3  B02_fld3:0004-0031:DAPI-0001  129.053   379482.721
4  B02_fld3:0005-0031:DAPI-0001  134.147   452336.503
5  B02_fld3:0006-0034:DAPI-0001  157.071   466887.222
6  B02_fld3:0007-0030:DAPI-0001  122.261   257515.805
7  B02_fld3:0008-0037:DAPI-0001  174.901   703391.171
8  B02_fld3:0009-0033:DAPI-0001  146.034   440886.450
9  B02_fld3:0010-0031:DAPI-0001  101.884   271420.411

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld4:0001-0034:DAPI-0001  217.352  1288318.533
1  B02_fld4:0002-0031:DAPI-0001  281.879  1393712.335
2  B02_fld4:0003-0029:DAPI-0001  118.865   269381.035
3  B02_fld4:0004-0033:DAPI-0001  168.108   684392.370
4  B02_fld4:0005-0030:DAPI-0001  132.449   467008.634
5  B02_fld4:0006-0037:DAPI-0001  205.466   385411.515
6  B02_fld4:0007-0034:DAPI-0001  224.145   589171.676
7  B02_fld4:0008-0035:DAPI-0001  199.523   357583.626
8  B02_fld4:0009-0028:DAPI-0001  100.186   189466.699
9  B02_fld4:0010-0030:DAPI-0001  110.374   226757.904

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld5:0001-0030:DAPI-0001  180.844   582632.428
1  B02_fld5:0002-0028:DAPI-0001  127.355   384503.900
2  B02_fld5:0003-0041:DAPI-0001  316.689  1925095.462
3  B02_fld5:0004-0030:DAPI-0001  173.203  1088608.257
4  B02_fld5:0005-0029:DAPI-0001  101.884   301797.945
5  B02_fld5:0006-0041:DAPI-0001  297.161  1956873.051
6  B02_fld5:0007-0037:DAPI-0001  227.541  1144058.571
7  B02_fld5:0008-0043:DAPI-0001  202.070   694506.045
8  B02_fld5:0009-0043:DAPI-0001  140.939   579949.485
9  B02_fld5:0010-0052:DAPI-0001  219.050   820116.160

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld6:0001-0035:DAPI-0001  292.067  1674382.955
1  B02_fld6:0002-0031:DAPI-0001  201.221   698753.755
2  B02_fld6:0003-0042:DAPI-0001  330.274  1339592.456
3  B02_fld6:0004-0030:DAPI-0001  188.485   808787.519
4  B02_fld6:0005-0029:DAPI-0001  142.637   488373.688
5  B02_fld6:0006-0029:DAPI-0001  127.355   419617.337
6  B02_fld6:0007-0035:DAPI-0001  208.013  1298827.009
7  B02_fld6:0008-0033:DAPI-0001  140.939   371813.411
8  B02_fld6:0009-0033:DAPI-0001  151.128   717719.443
9  B02_fld6:0010-0034:DAPI-0001  137.543   709547.505

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld7:0001-0030:DAPI-0001  259.804  1019653.233
1  B02_fld7:0002-0036:DAPI-0001  275.087  1443959.777
2  B02_fld7:0003-0028:DAPI-0001  113.770   289717.910
3  B02_fld7:0004-0026:DAPI-0001   98.488   329431.406
4  B02_fld7:0005-0027:DAPI-0001  135.845   942246.090
5  B02_fld7:0006-0031:DAPI-0001  163.014   785120.738
6  B02_fld7:0007-0029:DAPI-0001  127.355   420945.224
7  B02_fld7:0008-0026:DAPI-0001  129.053   519767.514
8  B02_fld7:0009-0029:DAPI-0001  118.865   314068.163
9  B02_fld7:0010-0026:DAPI-0001  115.468   512679.790

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld8:0001-0027:DAPI-0001  123.959   679108.841
1  B02_fld8:0002-0032:DAPI-0001  236.031  1443039.426
2  B02_fld8:0003-0028:DAPI-0001  146.034  1140683.666
3  B02_fld8:0004-0024:DAPI-0001  124.808   508573.869
4  B02_fld8:0005-0025:DAPI-0001   98.488   235901.985
5  B02_fld8:0006-0030:DAPI-0001  186.787   643316.177
6  B02_fld8:0007-0030:DAPI-0001  182.542   622753.459
7  B02_fld8:0008-0027:DAPI-0001  129.053   380888.719
8  B02_fld8:0009-0029:DAPI-0001  161.316   782189.029
9  B02_fld8:0010-0026:DAPI-0001  123.959   399607.339

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B02_fld9:0001-0032:DAPI-0001  258.106  1046087.860
1  B02_fld9:0002-0028:DAPI-0001  154.524   614457.562
2  B02_fld9:0003-0031:DAPI-0001  191.032  1040839.990
3  B02_fld9:0004-0027:DAPI-0001  152.826   926184.093
4  B02_fld9:0005-0029:DAPI-0001  115.468   459754.500
5  B02_fld9:0006-0034:DAPI-0001  151.128   533594.857
6  B02_fld9:0007-0038:DAPI-0001  249.616   914348.580
7  B02_fld9:0008-0041:DAPI-0001  220.748  1139854.162
8  B02_fld9:0009-0037:DAPI-0001  157.071   552904.404
9  B02_fld9:0010-0040:DAPI-0001  115.468   525771.872

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B03_fld1:0001-0039:DAPI-0001  264.049  473783.913
1  B03_fld1:0002-0032:DAPI-0001  160.467  527058.156
2  B03_fld1:0003-0034:DAPI-0001  168.108  519215.643
3  B03_fld1:0004-0029:DAPI-0001  113.770  289514.142
4  B03_fld1:0005-0036:DAPI-0001  213.107  592445.546
5  B03_fld1:0006-0032:DAPI-0001  180.844  409908.650
6  B03_fld1:0007-0032:DAPI-0001  142.637  294485.228
7  B03_fld1:0008-0036:DAPI-0001  236.031  601483.497
8  B03_fld1:0009-0028:DAPI-0001  108.676  238386.254
9  B03_fld1:0010-0030:DAPI-0001  105.280  431479.170

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld2:0001-0042:DAPI-0001  329.425  2923439.678
1  B03_fld2:0002-0036:DAPI-0001  220.748  1210429.989
2  B03_fld2:0003-0029:DAPI-0001  112.072   415723.674
3  B03_fld2:0004-0038:DAPI-0001  324.330  1140520.652
4  B03_fld2:0005-0031:DAPI-0001  147.732   352689.802
5  B03_fld2:0006-0029:DAPI-0001  149.430   905791.181
6  B03_fld2:0007-0033:DAPI-0001  164.712   666133.077
7  B03_fld2:0008-0037:DAPI-0001  215.654   582139.140
8  B03_fld2:0009-0029:DAPI-0001   95.092   226796.111
9  B03_fld2:0010-0035:DAPI-0001  202.919   343547.420

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld3:0001-0032:DAPI-0001  186.787   862151.760
1  B03_fld3:0002-0030:DAPI-0001  113.770   259185.852
2  B03_fld3:0003-0031:DAPI-0001  169.807   362351.792
3  B03_fld3:0004-0031:DAPI-0001  205.466  1022428.720
4  B03_fld3:0005-0030:DAPI-0001  135.845   493129.119
5  B03_fld3:0006-0031:DAPI-0001  139.241   387494.192
6  B03_fld3:0007-0037:DAPI-0001  186.787   422170.378
7  B03_fld3:0008-0029:DAPI-0001  115.468   405674.525
8  B03_fld3:0009-0040:DAPI-0001  294.614  1071785.527
9  B03_fld3:0010-0041:DAPI-0001  258.955  1101970.331

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld4:0001-0036:DAPI-0001  281.879  1016795.390
1  B03_fld4:0002-0032:DAPI-0001  174.901   978141.487
2  B03_fld4:0003-0031:DAPI-0001  132.449   509783.740
3  B03_fld4:0004-0026:DAPI-0001  103.582   273962.414
4  B03_fld4:0005-0028:DAPI-0001   98.488   178758.701
5  B03_fld4:0006-0030:DAPI-0001  190.183   663377.118
6  B03_fld4:0007-0031:DAPI-0001  180.844   689225.912
7  B03_fld4:0008-0030:DAPI-0001  200.372  1175072.879
8  B03_fld4:0009-0034:DAPI-0001  212.258  1174706.097
9  B03_fld4:0010-0030:DAPI-0001  123.959   200057.530

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld5:0001-0026:DAPI-0001  154.524   743178.532
1  B03_fld5:0002-0036:DAPI-0001  285.275  1452201.335
2  B03_fld5:0003-0026:DAPI-0001  108.676   946808.791
3  B03_fld5:0004-0028:DAPI-0001  196.976  2138879.301
4  B03_fld5:0005-0027:DAPI-0001  137.543   640156.927
5  B03_fld5:0006-0029:DAPI-0001  159.618   542073.296
6  B03_fld5:0007-0027:DAPI-0001  112.072   496449.685
7  B03_fld5:0008-0029:DAPI-0001  127.355   456391.482
8  B03_fld5:0009-0035:DAPI-0001  251.314   753007.781
9  B03_fld5:0010-0030:DAPI-0001  152.826   624099.176

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld6:0001-0025:DAPI-0001  101.884   607161.826
1  B03_fld6:0002-0026:DAPI-0001   98.488   413168.086
2  B03_fld6:0003-0028:DAPI-0001  146.034   595273.673
3  B03_fld6:0004-0030:DAPI-0001  168.108   647540.114
4  B03_fld6:0005-0029:DAPI-0001  127.355   341836.620
5  B03_fld6:0006-0027:DAPI-0001  113.770   314586.921
6  B03_fld6:0007-0035:DAPI-0001  288.671  1042893.800
7  B03_fld6:0008-0028:DAPI-0001  125.657   181554.565
8  B03_fld6:0009-0029:DAPI-0001  236.031   614993.302
9  B03_fld6:0010-0035:DAPI-0001  203.768   571322.466

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B03_fld7:0001-0034:DAPI-0001  216.503  1063419.161
1  B03_fld7:0002-0038:DAPI-0001  318.387  1253121.042
2  B03_fld7:0003-0029:DAPI-0001  120.563   744535.286
3  B03_fld7:0004-0028:DAPI-0001  139.241   322101.708
4  B03_fld7:0005-0026:DAPI-0001  110.374   523244.302
5  B03_fld7:0006-0028:DAPI-0001  118.865   174376.844
6  B03_fld7:0007-0039:DAPI-0001  303.954   948286.108
7  B03_fld7:0008-0032:DAPI-0001  166.410   597798.696
8  B03_fld7:0009-0026:DAPI-0001  100.186   355318.407
9  B03_fld7:0010-0031:DAPI-0001  193.579  1017375.279

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B03_fld8:0001-0028:DAPI-0001  120.563  598331.039
1  B03_fld8:0002-0025:DAPI-0001  105.280  829146.470
2  B03_fld8:0003-0027:DAPI-0001  108.676  740369.933
3  B03_fld8:0004-0030:DAPI-0001  163.014  564358.701
4  B03_fld8:0005-0028:DAPI-0001  168.108  552689.598
5  B03_fld8:0006-0031:DAPI-0001  163.014  600004.482
6  B03_fld8:0007-0030:DAPI-0001  152.826  645111.881
7  B03_fld8:0008-0033:DAPI-0001  234.333  662341.298
8  B03_fld8:0009-0031:DAPI-0001  218.201  547969.827
9  B03_fld8:0010-0027:DAPI-0001  103.582  322634.052

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B03_fld9:0001-0029:DAPI-0001  149.430  506912.313
1  B03_fld9:0002-0029:DAPI-0001  132.449  270511.097
2  B03_fld9:0003-0030:DAPI-0001  156.222  484442.667
3  B03_fld9:0004-0025:DAPI-0001  117.166  460856.544
4  B03_fld9:0005-0033:DAPI-0001  196.976  420137.794
5  B03_fld9:0006-0030:DAPI-0001  156.222  501885.191
6  B03_fld9:0007-0028:DAPI-0001  148.581  306248.573
7  B03_fld9:0008-0030:DAPI-0001  118.865  422141.511
8  B03_fld9:0009-0030:DAPI-0001  115.468  199758.671
9  B03_fld9:0010-0028:DAPI-0001  129.053  471946.607

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B04_fld1:0001-0031:DAPI-0001  203.768  747652.084
1  B04_fld1:0002-0029:DAPI-0001  208.862  867788.486
2  B04_fld1:0003-0027:DAPI-0001  108.676  245832.269
3  B04_fld1:0004-0026:DAPI-0001  115.468  334306.550
4  B04_fld1:0005-0026:DAPI-0001  158.769  525075.665
5  B04_fld1:0006-0030:DAPI-0001  140.090  229930.739
6  B04_fld1:0007-0030:DAPI-0001  191.881  497093.252
7  B04_fld1:0008-0025:DAPI-0001   98.488  221796.159
8  B04_fld1:0009-0026:DAPI-0001  168.957  316064.238
9  B04_fld1:0010-0028:DAPI-0001  123.110  371388.045

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B04_fld2:0001-0024:DAPI-0001  106.978  256176.032
1  B04_fld2:0002-0027:DAPI-0001  135.845  860699.065
2  B04_fld2:0003-0037:DAPI-0001  286.973  533099.871
3  B04_fld2:0004-0028:DAPI-0001  134.147  312172.273
4  B04_fld2:0005-0026:DAPI-0001  112.072  343830.997
5  B04_fld2:0006-0028:DAPI-0001  127.355  216825.073
6  B04_fld2:0007-0025:DAPI-0001  110.374  224279.579
7  B04_fld2:0008-0032:DAPI-0001  196.976  765188.851
8  B04_fld2:0009-0030:DAPI-0001  224.145  870418.789
9  B04_fld2:0010-0026:DAPI-0001  163.863  700265.882

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld3:0001-0035:DAPI-0001  332.821  1767594.838
1  B04_fld3:0002-0037:DAPI-0001  265.747  1520881.273
2  B04_fld3:0003-0033:DAPI-0001  210.560   968301.200
3  B04_fld3:0004-0028:DAPI-0001  129.053   569846.847
4  B04_fld3:0005-0032:DAPI-0001  276.785  1194013.096
5  B04_fld3:0006-0024:DAPI-0001  129.053   505490.183
6  B04_fld3:0007-0026:DAPI-0001  201.221   967837.628
7  B04_fld3:0008-0033:DAPI-0001  215.654   440820.226
8  B04_fld3:0009-0035:DAPI-0001  225.843   541934.054
9  B04_fld3:0010-0029:DAPI-0001  201.221   736963.614

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld4:0001-0030:DAPI-0001  135.845   679007.806
1  B04_fld4:0002-0032:DAPI-0001  176.599  1082846.723
2  B04_fld4:0003-0032:DAPI-0001  115.468   285328.412
3  B04_fld4:0004-0032:DAPI-0001  138.392   282603.867
4  B04_fld4:0005-0041:DAPI-0001  344.707   847980.558
5  B04_fld4:0006-0030:DAPI-0001  127.355   360876.174
6  B04_fld4:0007-0032:DAPI-0001  106.978   256581.869
7  B04_fld4:0008-0034:DAPI-0001  135.845   297652.119
8  B04_fld4:0009-0047:DAPI-0001  258.106  1298645.316
9  B04_fld4:0010-0046:DAPI-0001  176.599   879005.904

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld5:0001-0033:DAPI-0001  254.710  1748068.788
1  B04_fld5:0002-0054:DAPI-0001  310.746  2191595.730
2  B04_fld5:0003-0057:DAPI-0001  118.865   601607.455
3  B04_fld5:0004-0069:DAPI-0001  219.050  1982989.291
4  B04_fld5:0005-0090:DAPI-0001  385.461  1863198.445
5  B04_fld5:0006-0095:DAPI-0001  303.954  1842875.154
6  B04_fld5:0007-0093:DAPI-0001  130.751   582887.987
7  B04_fld5:0008-0092:DAPI-0001  130.751   608152.647
8  B04_fld5:0009-0097:DAPI-0001  164.712   652596.952
9  B04_fld5:0010-0101:DAPI-0001  234.333  1161063.843

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld6:0001-0034:DAPI-0001  172.354   885339.686
1  B04_fld6:0002-0032:DAPI-0001  132.449   361392.386
2  B04_fld6:0003-0033:DAPI-0001  127.355   511598.972
3  B04_fld6:0004-0042:DAPI-0001  323.481  1226657.547
4  B04_fld6:0005-0035:DAPI-0001  147.732   617660.962
5  B04_fld6:0006-0038:DAPI-0001  288.671  1662935.449
6  B04_fld6:0007-0034:DAPI-0001  162.165   651851.501
7  B04_fld6:0008-0037:DAPI-0001  187.636   701236.326
8  B04_fld6:0009-0040:DAPI-0001  191.881   613051.565
9  B04_fld6:0010-0041:DAPI-0001  149.430   673239.479

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area      IntDen
0  B04_fld7:0001-0029:DAPI-0001  147.732  864307.453
1  B04_fld7:0002-0028:DAPI-0001   93.394  382963.755
2  B04_fld7:0003-0029:DAPI-0001  112.072  506042.054
3  B04_fld7:0004-0029:DAPI-0001  136.694  308535.018
4  B04_fld7:0005-0029:DAPI-0001  103.582  292430.569
5  B04_fld7:0006-0029:DAPI-0001  120.563  447204.950
6  B04_fld7:0007-0029:DAPI-0001  103.582  263483.655
7  B04_fld7:0008-0032:DAPI-0001  163.863  386882.040
8  B04_fld7:0009-0030:DAPI-0001  156.222  929913.044
9  B04_fld7:0010-0033:DAPI-0001  139.241  374296.831

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld8:0001-0040:DAPI-0001  342.160  2307133.771
1  B04_fld8:0002-0035:DAPI-0001  264.049   777380.109
2  B04_fld8:0003-0030:DAPI-0001  135.845   604292.945
3  B04_fld8:0004-0028:DAPI-0001   93.394   195964.344
4  B04_fld8:0005-0034:DAPI-0001  185.089   505874.795
5  B04_fld8:0006-0033:DAPI-0001  219.050   642753.269
6  B04_fld8:0007-0036:DAPI-0001  181.693   562299.797
7  B04_fld8:0008-0028:DAPI-0001  115.468   352896.966
8  B04_fld8:0009-0030:DAPI-0001  125.657   604289.549
9  B04_fld8:0010-0040:DAPI-0001  199.523   559344.315

 * * * * * * * * * * * * * * * * * * * * * * * * * *

                          Label     Area       IntDen
0  B04_fld9:0001-0039:DAPI-0001  230.937   777467.559
1  B04_fld9:0002-0033:DAPI-0001  173.203   609951.747
2  B04_fld9:0003-0036:DAPI-0001  188.485  1099999.727
3  B04_fld9:0004-0034:DAPI-0001  169.807   618081.233
4  B04_fld9:0005-0039:DAPI-0001  231.786   772367.421
5  B04_fld9:0006-0048:DAPI-0001  333.670   878893.832
6  B04_fld9:0007-0028:DAPI-0001   98.488   122219.079
7  B04_fld9:0008-0036:DAPI-0001  179.995   524300.498
8  B04_fld9:0009-0036:DAPI-0001  137.543   265870.285
9  B04_fld9:0010-0036:DAPI-0001  135.845   497484.656

#### Print information of each column in every dataframe

In [3]:
for df in df_Cyto:
    print('\n', '* ' * 26, '\n')
    print(df.info())

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22776 entries, 0 to 22775
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   22776 non-null  object
 1   Area    22776 non-null  float64
 2   IntDen  22776 non-null  float64
dtypes: float64(2), object(1)
memory usage: 533.9+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8424 entries, 0 to 8423
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   8424 non-null   object
 1   Area    8424 non-null   float64
 2   IntDen  8424 non-null   float64
dtypes: float64(2), object(1)
memory usage: 197.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20664 entries, 0 to 20663
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   20664 non-null  object
 1   Area    20664 non-null  float64
 2   IntDen  20664 non-null  float64
dtypes: float64(2), object(1)
memory usage: 484.4+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18432 entries, 0 to 18431
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   18432 non-null  object
 1   Area    18432 non-null  float64
 2   IntDen  18432 non-null  float64
dtypes: float64(2), object(1)
memory usage: 432.1+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8400 entries, 0 to 8399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   8400 non-null   object
 1   Area    8400 non-null   float64
 2   IntDen  8400 non-null   float64
dtypes: float64(2), object(1)
memory usage: 197.0+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12240 entries, 0 to 12239
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   12240 non-null  object
 1   Area    12240 non-null  float64
 2   IntDen  12240 non-null  float64
dtypes: float64(2), object(1)
memory usage: 287.0+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20040 entries, 0 to 20039
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   20040 non-null  object
 1   Area    20040 non-null  float64
 2   IntDen  20040 non-null  float64
dtypes: float64(2), object(1)
memory usage: 469.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17568 entries, 0 to 17567
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   17568 non-null  object
 1   Area    17568 non-null  float64
 2   IntDen  17568 non-null  float64
dtypes: float64(2), object(1)
memory usage: 411.9+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16320 entries, 0 to 16319
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   16320 non-null  object
 1   Area    16320 non-null  float64
 2   IntDen  16320 non-null  float64
dtypes: float64(2), object(1)
memory usage: 382.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15720 entries, 0 to 15719
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   15720 non-null  object
 1   Area    15720 non-null  float64
 2   IntDen  15720 non-null  float64
dtypes: float64(2), object(1)
memory usage: 368.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12768 entries, 0 to 12767
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   12768 non-null  object
 1   Area    12768 non-null  float64
 2   IntDen  12768 non-null  float64
dtypes: float64(2), object(1)
memory usage: 299.4+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14232 entries, 0 to 14231
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   14232 non-null  object
 1   Area    14232 non-null  float64
 2   IntDen  14232 non-null  float64
dtypes: float64(2), object(1)
memory usage: 333.7+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13104 entries, 0 to 13103
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   13104 non-null  object
 1   Area    13104 non-null  float64
 2   IntDen  13104 non-null  float64
dtypes: float64(2), object(1)
memory usage: 307.2+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10248 entries, 0 to 10247
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   10248 non-null  object
 1   Area    10248 non-null  float64
 2   IntDen  10248 non-null  float64
dtypes: float64(2), object(1)
memory usage: 240.3+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17400 entries, 0 to 17399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   17400 non-null  object
 1   Area    17400 non-null  float64
 2   IntDen  17400 non-null  float64
dtypes: float64(2), object(1)
memory usage: 407.9+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13416 entries, 0 to 13415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   13416 non-null  object
 1   Area    13416 non-null  float64
 2   IntDen  13416 non-null  float64
dtypes: float64(2), object(1)
memory usage: 314.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16872 entries, 0 to 16871
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   16872 non-null  object
 1   Area    16872 non-null  float64
 2   IntDen  16872 non-null  float64
dtypes: float64(2), object(1)
memory usage: 395.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24216 entries, 0 to 24215
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   24216 non-null  object
 1   Area    24216 non-null  float64
 2   IntDen  24216 non-null  float64
dtypes: float64(2), object(1)
memory usage: 567.7+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16584 entries, 0 to 16583
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   16584 non-null  object
 1   Area    16584 non-null  float64
 2   IntDen  16584 non-null  float64
dtypes: float64(2), object(1)
memory usage: 388.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6264 entries, 0 to 6263
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   6264 non-null   object
 1   Area    6264 non-null   float64
 2   IntDen  6264 non-null   float64
dtypes: float64(2), object(1)
memory usage: 146.9+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14928 entries, 0 to 14927
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   14928 non-null  object
 1   Area    14928 non-null  float64
 2   IntDen  14928 non-null  float64
dtypes: float64(2), object(1)
memory usage: 350.0+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11592 entries, 0 to 11591
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   11592 non-null  object
 1   Area    11592 non-null  float64
 2   IntDen  11592 non-null  float64
dtypes: float64(2), object(1)
memory usage: 271.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   5448 non-null   object
 1   Area    5448 non-null   float64
 2   IntDen  5448 non-null   float64
dtypes: float64(2), object(1)
memory usage: 127.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10128 entries, 0 to 10127
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   10128 non-null  object
 1   Area    10128 non-null  float64
 2   IntDen  10128 non-null  float64
dtypes: float64(2), object(1)
memory usage: 237.5+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16704 entries, 0 to 16703
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   16704 non-null  object
 1   Area    16704 non-null  float64
 2   IntDen  16704 non-null  float64
dtypes: float64(2), object(1)
memory usage: 391.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19176 entries, 0 to 19175
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   19176 non-null  object
 1   Area    19176 non-null  float64
 2   IntDen  19176 non-null  float64
dtypes: float64(2), object(1)
memory usage: 449.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16224 entries, 0 to 16223
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Label   16224 non-null  object
 1   Area    16224 non-null  float64
 2   IntDen  16224 non-null  float64
dtypes: float64(2), object(1)
memory usage: 380.4+ KB
None

#### Extract well, field, cell, channel IDs in every entry of all dataframes 
#### Save each of these IDs in Well, Field, Cell ID, Channel columns in the dataframe, respectively
#### Extract Cycle, Area, Integrated Density columns as well

In [4]:
well = r'[A-Z]+.*?(?=_)'
field = r'(?<=d)[\d]{1,1}?(?=:)'
cell_id = r'(\d+)-(\d+)'
channel = r'(?<=:)[A-Z]+.*?(?=-)'

for k in range(len(df_Cyto)):
    df_Cyto[k]['Well'] = df_Cyto[k]['Label'].apply(lambda x: re.search(well, x).group())
    df_Cyto[k]['Field'] = df_Cyto[k]['Label'].apply(lambda x: re.search(field, x).group())
    df_Cyto[k]['Cell ID'] = df_Cyto[k]['Label'].apply(lambda x: re.search(cell_id, x).group())
    df_Cyto[k]['Channel'] = df_Cyto[k]['Label'].apply(lambda x: re.search(channel, x).group())
    df_Cyto[k]['Cycle'] = df_Cyto[k]['Label'].apply(lambda x: int(x[-1]))
    df_Cyto[k] = df_Cyto[k][['Cell ID', 'Well', 'Field', 'Channel', 'Cycle', 'Area', 'IntDen']]

#### Redouble check the dataframes

In [5]:
for df in df_Cyto:
    print('\n', '* ' * 32, '\n')
    print(df.head(10))

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0031  B02     1    DAPI      1  164.712  518987.253
1  0002-0033  B02     1    DAPI      1  134.147  312344.627
2  0003-0032  B02     1    DAPI      1  151.977  385528.682
3  0004-0029  B02     1    DAPI      1  122.261  304401.927
4  0005-0033  B02     1    DAPI      1  213.956  668529.047
5  0006-0030  B02     1    DAPI      1  118.865  320494.490
6  0007-0031  B02     1    DAPI      1  134.147  414814.360
7  0008-0033  B02     1    DAPI      1  211.409  852663.821
8  0009-0034  B02     1    DAPI      1  250.465  551172.377
9  0010-0031  B02     1    DAPI      1  159.618  601225.391

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0027  B02     2    DAPI      1  164.712  1321761.924
1  0002-0028  B02     2    DAPI      1  108.676   404588.613
2  0003-0031  B02     2    DAPI      1  129.053   360008.463
3  0004-0034  B02     2    DAPI      1  202.070   623556.644
4  0005-0031  B02     2    DAPI      1  132.449   261812.759
5  0006-0036  B02     2    DAPI      1  147.732   516743.260
6  0007-0041  B02     2    DAPI      1  185.089   703080.425
7  0008-0035  B02     2    DAPI      1  139.241   419644.506
8  0009-0039  B02     2    DAPI      1  149.430   339607.909
9  0010-0038  B02     2    DAPI      1  135.845   326456.396

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0027  B02     3    DAPI      1   98.488   569467.330
1  0002-0032  B02     3    DAPI      1  194.428  1073295.107
2  0003-0036  B02     3    DAPI      1  185.089   749465.618
3  0004-0031  B02     3    DAPI      1  129.053   379482.721
4  0005-0031  B02     3    DAPI      1  134.147   452336.503
5  0006-0034  B02     3    DAPI      1  157.071   466887.222
6  0007-0030  B02     3    DAPI      1  122.261   257515.805
7  0008-0037  B02     3    DAPI      1  174.901   703391.171
8  0009-0033  B02     3    DAPI      1  146.034   440886.450
9  0010-0031  B02     3    DAPI      1  101.884   271420.411

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0034  B02     4    DAPI      1  217.352  1288318.533
1  0002-0031  B02     4    DAPI      1  281.879  1393712.335
2  0003-0029  B02     4    DAPI      1  118.865   269381.035
3  0004-0033  B02     4    DAPI      1  168.108   684392.370
4  0005-0030  B02     4    DAPI      1  132.449   467008.634
5  0006-0037  B02     4    DAPI      1  205.466   385411.515
6  0007-0034  B02     4    DAPI      1  224.145   589171.676
7  0008-0035  B02     4    DAPI      1  199.523   357583.626
8  0009-0028  B02     4    DAPI      1  100.186   189466.699
9  0010-0030  B02     4    DAPI      1  110.374   226757.904

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0030  B02     5    DAPI      1  180.844   582632.428
1  0002-0028  B02     5    DAPI      1  127.355   384503.900
2  0003-0041  B02     5    DAPI      1  316.689  1925095.462
3  0004-0030  B02     5    DAPI      1  173.203  1088608.257
4  0005-0029  B02     5    DAPI      1  101.884   301797.945
5  0006-0041  B02     5    DAPI      1  297.161  1956873.051
6  0007-0037  B02     5    DAPI      1  227.541  1144058.571
7  0008-0043  B02     5    DAPI      1  202.070   694506.045
8  0009-0043  B02     5    DAPI      1  140.939   579949.485
9  0010-0052  B02     5    DAPI      1  219.050   820116.160

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0035  B02     6    DAPI      1  292.067  1674382.955
1  0002-0031  B02     6    DAPI      1  201.221   698753.755
2  0003-0042  B02     6    DAPI      1  330.274  1339592.456
3  0004-0030  B02     6    DAPI      1  188.485   808787.519
4  0005-0029  B02     6    DAPI      1  142.637   488373.688
5  0006-0029  B02     6    DAPI      1  127.355   419617.337
6  0007-0035  B02     6    DAPI      1  208.013  1298827.009
7  0008-0033  B02     6    DAPI      1  140.939   371813.411
8  0009-0033  B02     6    DAPI      1  151.128   717719.443
9  0010-0034  B02     6    DAPI      1  137.543   709547.505

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0030  B02     7    DAPI      1  259.804  1019653.233
1  0002-0036  B02     7    DAPI      1  275.087  1443959.777
2  0003-0028  B02     7    DAPI      1  113.770   289717.910
3  0004-0026  B02     7    DAPI      1   98.488   329431.406
4  0005-0027  B02     7    DAPI      1  135.845   942246.090
5  0006-0031  B02     7    DAPI      1  163.014   785120.738
6  0007-0029  B02     7    DAPI      1  127.355   420945.224
7  0008-0026  B02     7    DAPI      1  129.053   519767.514
8  0009-0029  B02     7    DAPI      1  118.865   314068.163
9  0010-0026  B02     7    DAPI      1  115.468   512679.790

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0027  B02     8    DAPI      1  123.959   679108.841
1  0002-0032  B02     8    DAPI      1  236.031  1443039.426
2  0003-0028  B02     8    DAPI      1  146.034  1140683.666
3  0004-0024  B02     8    DAPI      1  124.808   508573.869
4  0005-0025  B02     8    DAPI      1   98.488   235901.985
5  0006-0030  B02     8    DAPI      1  186.787   643316.177
6  0007-0030  B02     8    DAPI      1  182.542   622753.459
7  0008-0027  B02     8    DAPI      1  129.053   380888.719
8  0009-0029  B02     8    DAPI      1  161.316   782189.029
9  0010-0026  B02     8    DAPI      1  123.959   399607.339

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0032  B02     9    DAPI      1  258.106  1046087.860
1  0002-0028  B02     9    DAPI      1  154.524   614457.562
2  0003-0031  B02     9    DAPI      1  191.032  1040839.990
3  0004-0027  B02     9    DAPI      1  152.826   926184.093
4  0005-0029  B02     9    DAPI      1  115.468   459754.500
5  0006-0034  B02     9    DAPI      1  151.128   533594.857
6  0007-0038  B02     9    DAPI      1  249.616   914348.580
7  0008-0041  B02     9    DAPI      1  220.748  1139854.162
8  0009-0037  B02     9    DAPI      1  157.071   552904.404
9  0010-0040  B02     9    DAPI      1  115.468   525771.872

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0039  B03     1    DAPI      1  264.049  473783.913
1  0002-0032  B03     1    DAPI      1  160.467  527058.156
2  0003-0034  B03     1    DAPI      1  168.108  519215.643
3  0004-0029  B03     1    DAPI      1  113.770  289514.142
4  0005-0036  B03     1    DAPI      1  213.107  592445.546
5  0006-0032  B03     1    DAPI      1  180.844  409908.650
6  0007-0032  B03     1    DAPI      1  142.637  294485.228
7  0008-0036  B03     1    DAPI      1  236.031  601483.497
8  0009-0028  B03     1    DAPI      1  108.676  238386.254
9  0010-0030  B03     1    DAPI      1  105.280  431479.170

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0042  B03     2    DAPI      1  329.425  2923439.678
1  0002-0036  B03     2    DAPI      1  220.748  1210429.989
2  0003-0029  B03     2    DAPI      1  112.072   415723.674
3  0004-0038  B03     2    DAPI      1  324.330  1140520.652
4  0005-0031  B03     2    DAPI      1  147.732   352689.802
5  0006-0029  B03     2    DAPI      1  149.430   905791.181
6  0007-0033  B03     2    DAPI      1  164.712   666133.077
7  0008-0037  B03     2    DAPI      1  215.654   582139.140
8  0009-0029  B03     2    DAPI      1   95.092   226796.111
9  0010-0035  B03     2    DAPI      1  202.919   343547.420

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0032  B03     3    DAPI      1  186.787   862151.760
1  0002-0030  B03     3    DAPI      1  113.770   259185.852
2  0003-0031  B03     3    DAPI      1  169.807   362351.792
3  0004-0031  B03     3    DAPI      1  205.466  1022428.720
4  0005-0030  B03     3    DAPI      1  135.845   493129.119
5  0006-0031  B03     3    DAPI      1  139.241   387494.192
6  0007-0037  B03     3    DAPI      1  186.787   422170.378
7  0008-0029  B03     3    DAPI      1  115.468   405674.525
8  0009-0040  B03     3    DAPI      1  294.614  1071785.527
9  0010-0041  B03     3    DAPI      1  258.955  1101970.331

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0036  B03     4    DAPI      1  281.879  1016795.390
1  0002-0032  B03     4    DAPI      1  174.901   978141.487
2  0003-0031  B03     4    DAPI      1  132.449   509783.740
3  0004-0026  B03     4    DAPI      1  103.582   273962.414
4  0005-0028  B03     4    DAPI      1   98.488   178758.701
5  0006-0030  B03     4    DAPI      1  190.183   663377.118
6  0007-0031  B03     4    DAPI      1  180.844   689225.912
7  0008-0030  B03     4    DAPI      1  200.372  1175072.879
8  0009-0034  B03     4    DAPI      1  212.258  1174706.097
9  0010-0030  B03     4    DAPI      1  123.959   200057.530

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0026  B03     5    DAPI      1  154.524   743178.532
1  0002-0036  B03     5    DAPI      1  285.275  1452201.335
2  0003-0026  B03     5    DAPI      1  108.676   946808.791
3  0004-0028  B03     5    DAPI      1  196.976  2138879.301
4  0005-0027  B03     5    DAPI      1  137.543   640156.927
5  0006-0029  B03     5    DAPI      1  159.618   542073.296
6  0007-0027  B03     5    DAPI      1  112.072   496449.685
7  0008-0029  B03     5    DAPI      1  127.355   456391.482
8  0009-0035  B03     5    DAPI      1  251.314   753007.781
9  0010-0030  B03     5    DAPI      1  152.826   624099.176

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0025  B03     6    DAPI      1  101.884   607161.826
1  0002-0026  B03     6    DAPI      1   98.488   413168.086
2  0003-0028  B03     6    DAPI      1  146.034   595273.673
3  0004-0030  B03     6    DAPI      1  168.108   647540.114
4  0005-0029  B03     6    DAPI      1  127.355   341836.620
5  0006-0027  B03     6    DAPI      1  113.770   314586.921
6  0007-0035  B03     6    DAPI      1  288.671  1042893.800
7  0008-0028  B03     6    DAPI      1  125.657   181554.565
8  0009-0029  B03     6    DAPI      1  236.031   614993.302
9  0010-0035  B03     6    DAPI      1  203.768   571322.466

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0034  B03     7    DAPI      1  216.503  1063419.161
1  0002-0038  B03     7    DAPI      1  318.387  1253121.042
2  0003-0029  B03     7    DAPI      1  120.563   744535.286
3  0004-0028  B03     7    DAPI      1  139.241   322101.708
4  0005-0026  B03     7    DAPI      1  110.374   523244.302
5  0006-0028  B03     7    DAPI      1  118.865   174376.844
6  0007-0039  B03     7    DAPI      1  303.954   948286.108
7  0008-0032  B03     7    DAPI      1  166.410   597798.696
8  0009-0026  B03     7    DAPI      1  100.186   355318.407
9  0010-0031  B03     7    DAPI      1  193.579  1017375.279

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0028  B03     8    DAPI      1  120.563  598331.039
1  0002-0025  B03     8    DAPI      1  105.280  829146.470
2  0003-0027  B03     8    DAPI      1  108.676  740369.933
3  0004-0030  B03     8    DAPI      1  163.014  564358.701
4  0005-0028  B03     8    DAPI      1  168.108  552689.598
5  0006-0031  B03     8    DAPI      1  163.014  600004.482
6  0007-0030  B03     8    DAPI      1  152.826  645111.881
7  0008-0033  B03     8    DAPI      1  234.333  662341.298
8  0009-0031  B03     8    DAPI      1  218.201  547969.827
9  0010-0027  B03     8    DAPI      1  103.582  322634.052

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0029  B03     9    DAPI      1  149.430  506912.313
1  0002-0029  B03     9    DAPI      1  132.449  270511.097
2  0003-0030  B03     9    DAPI      1  156.222  484442.667
3  0004-0025  B03     9    DAPI      1  117.166  460856.544
4  0005-0033  B03     9    DAPI      1  196.976  420137.794
5  0006-0030  B03     9    DAPI      1  156.222  501885.191
6  0007-0028  B03     9    DAPI      1  148.581  306248.573
7  0008-0030  B03     9    DAPI      1  118.865  422141.511
8  0009-0030  B03     9    DAPI      1  115.468  199758.671
9  0010-0028  B03     9    DAPI      1  129.053  471946.607

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0031  B04     1    DAPI      1  203.768  747652.084
1  0002-0029  B04     1    DAPI      1  208.862  867788.486
2  0003-0027  B04     1    DAPI      1  108.676  245832.269
3  0004-0026  B04     1    DAPI      1  115.468  334306.550
4  0005-0026  B04     1    DAPI      1  158.769  525075.665
5  0006-0030  B04     1    DAPI      1  140.090  229930.739
6  0007-0030  B04     1    DAPI      1  191.881  497093.252
7  0008-0025  B04     1    DAPI      1   98.488  221796.159
8  0009-0026  B04     1    DAPI      1  168.957  316064.238
9  0010-0028  B04     1    DAPI      1  123.110  371388.045

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0024  B04     2    DAPI      1  106.978  256176.032
1  0002-0027  B04     2    DAPI      1  135.845  860699.065
2  0003-0037  B04     2    DAPI      1  286.973  533099.871
3  0004-0028  B04     2    DAPI      1  134.147  312172.273
4  0005-0026  B04     2    DAPI      1  112.072  343830.997
5  0006-0028  B04     2    DAPI      1  127.355  216825.073
6  0007-0025  B04     2    DAPI      1  110.374  224279.579
7  0008-0032  B04     2    DAPI      1  196.976  765188.851
8  0009-0030  B04     2    DAPI      1  224.145  870418.789
9  0010-0026  B04     2    DAPI      1  163.863  700265.882

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0035  B04     3    DAPI      1  332.821  1767594.838
1  0002-0037  B04     3    DAPI      1  265.747  1520881.273
2  0003-0033  B04     3    DAPI      1  210.560   968301.200
3  0004-0028  B04     3    DAPI      1  129.053   569846.847
4  0005-0032  B04     3    DAPI      1  276.785  1194013.096
5  0006-0024  B04     3    DAPI      1  129.053   505490.183
6  0007-0026  B04     3    DAPI      1  201.221   967837.628
7  0008-0033  B04     3    DAPI      1  215.654   440820.226
8  0009-0035  B04     3    DAPI      1  225.843   541934.054
9  0010-0029  B04     3    DAPI      1  201.221   736963.614

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0030  B04     4    DAPI      1  135.845   679007.806
1  0002-0032  B04     4    DAPI      1  176.599  1082846.723
2  0003-0032  B04     4    DAPI      1  115.468   285328.412
3  0004-0032  B04     4    DAPI      1  138.392   282603.867
4  0005-0041  B04     4    DAPI      1  344.707   847980.558
5  0006-0030  B04     4    DAPI      1  127.355   360876.174
6  0007-0032  B04     4    DAPI      1  106.978   256581.869
7  0008-0034  B04     4    DAPI      1  135.845   297652.119
8  0009-0047  B04     4    DAPI      1  258.106  1298645.316
9  0010-0046  B04     4    DAPI      1  176.599   879005.904

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0033  B04     5    DAPI      1  254.710  1748068.788
1  0002-0054  B04     5    DAPI      1  310.746  2191595.730
2  0003-0057  B04     5    DAPI      1  118.865   601607.455
3  0004-0069  B04     5    DAPI      1  219.050  1982989.291
4  0005-0090  B04     5    DAPI      1  385.461  1863198.445
5  0006-0095  B04     5    DAPI      1  303.954  1842875.154
6  0007-0093  B04     5    DAPI      1  130.751   582887.987
7  0008-0092  B04     5    DAPI      1  130.751   608152.647
8  0009-0097  B04     5    DAPI      1  164.712   652596.952
9  0010-0101  B04     5    DAPI      1  234.333  1161063.843

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0034  B04     6    DAPI      1  172.354   885339.686
1  0002-0032  B04     6    DAPI      1  132.449   361392.386
2  0003-0033  B04     6    DAPI      1  127.355   511598.972
3  0004-0042  B04     6    DAPI      1  323.481  1226657.547
4  0005-0035  B04     6    DAPI      1  147.732   617660.962
5  0006-0038  B04     6    DAPI      1  288.671  1662935.449
6  0007-0034  B04     6    DAPI      1  162.165   651851.501
7  0008-0037  B04     6    DAPI      1  187.636   701236.326
8  0009-0040  B04     6    DAPI      1  191.881   613051.565
9  0010-0041  B04     6    DAPI      1  149.430   673239.479

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area      IntDen
0  0001-0029  B04     7    DAPI      1  147.732  864307.453
1  0002-0028  B04     7    DAPI      1   93.394  382963.755
2  0003-0029  B04     7    DAPI      1  112.072  506042.054
3  0004-0029  B04     7    DAPI      1  136.694  308535.018
4  0005-0029  B04     7    DAPI      1  103.582  292430.569
5  0006-0029  B04     7    DAPI      1  120.563  447204.950
6  0007-0029  B04     7    DAPI      1  103.582  263483.655
7  0008-0032  B04     7    DAPI      1  163.863  386882.040
8  0009-0030  B04     7    DAPI      1  156.222  929913.044
9  0010-0033  B04     7    DAPI      1  139.241  374296.831

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0040  B04     8    DAPI      1  342.160  2307133.771
1  0002-0035  B04     8    DAPI      1  264.049   777380.109
2  0003-0030  B04     8    DAPI      1  135.845   604292.945
3  0004-0028  B04     8    DAPI      1   93.394   195964.344
4  0005-0034  B04     8    DAPI      1  185.089   505874.795
5  0006-0033  B04     8    DAPI      1  219.050   642753.269
6  0007-0036  B04     8    DAPI      1  181.693   562299.797
7  0008-0028  B04     8    DAPI      1  115.468   352896.966
8  0009-0030  B04     8    DAPI      1  125.657   604289.549
9  0010-0040  B04     8    DAPI      1  199.523   559344.315

 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

     Cell ID Well Field Channel  Cycle     Area       IntDen
0  0001-0039  B04     9    DAPI      1  230.937   777467.559
1  0002-0033  B04     9    DAPI      1  173.203   609951.747
2  0003-0036  B04     9    DAPI      1  188.485  1099999.727
3  0004-0034  B04     9    DAPI      1  169.807   618081.233
4  0005-0039  B04     9    DAPI      1  231.786   772367.421
5  0006-0048  B04     9    DAPI      1  333.670   878893.832
6  0007-0028  B04     9    DAPI      1   98.488   122219.079
7  0008-0036  B04     9    DAPI      1  179.995   524300.498
8  0009-0036  B04     9    DAPI      1  137.543   265870.285
9  0010-0036  B04     9    DAPI      1  135.845   497484.656

In [6]:
for df in df_Cyto[:n]:
    print('\n', '* ' * 26, '\n')
    print(df.info())

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22776 entries, 0 to 22775
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  22776 non-null  object
 1   Well     22776 non-null  object
 2   Field    22776 non-null  object
 3   Channel  22776 non-null  object
 4   Cycle    22776 non-null  int64
 5   Area     22776 non-null  float64
 6   IntDen   22776 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.2+ MB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8424 entries, 0 to 8423
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  8424 non-null   object
 1   Well     8424 non-null   object
 2   Field    8424 non-null   object
 3   Channel  8424 non-null   object
 4   Cycle    8424 non-null   int64
 5   Area     8424 non-null   float64
 6   IntDen   8424 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 460.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20664 entries, 0 to 20663
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  20664 non-null  object
 1   Well     20664 non-null  object
 2   Field    20664 non-null  object
 3   Channel  20664 non-null  object
 4   Cycle    20664 non-null  int64
 5   Area     20664 non-null  float64
 6   IntDen   20664 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.1+ MB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18432 entries, 0 to 18431
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  18432 non-null  object
 1   Well     18432 non-null  object
 2   Field    18432 non-null  object
 3   Channel  18432 non-null  object
 4   Cycle    18432 non-null  int64
 5   Area     18432 non-null  float64
 6   IntDen   18432 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1008.1+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8400 entries, 0 to 8399
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  8400 non-null   object
 1   Well     8400 non-null   object
 2   Field    8400 non-null   object
 3   Channel  8400 non-null   object
 4   Cycle    8400 non-null   int64
 5   Area     8400 non-null   float64
 6   IntDen   8400 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 459.5+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12240 entries, 0 to 12239
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  12240 non-null  object
 1   Well     12240 non-null  object
 2   Field    12240 non-null  object
 3   Channel  12240 non-null  object
 4   Cycle    12240 non-null  int64
 5   Area     12240 non-null  float64
 6   IntDen   12240 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 669.5+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20040 entries, 0 to 20039
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  20040 non-null  object
 1   Well     20040 non-null  object
 2   Field    20040 non-null  object
 3   Channel  20040 non-null  object
 4   Cycle    20040 non-null  int64
 5   Area     20040 non-null  float64
 6   IntDen   20040 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.1+ MB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17568 entries, 0 to 17567
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  17568 non-null  object
 1   Well     17568 non-null  object
 2   Field    17568 non-null  object
 3   Channel  17568 non-null  object
 4   Cycle    17568 non-null  int64
 5   Area     17568 non-null  float64
 6   IntDen   17568 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 960.9+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16320 entries, 0 to 16319
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  16320 non-null  object
 1   Well     16320 non-null  object
 2   Field    16320 non-null  object
 3   Channel  16320 non-null  object
 4   Cycle    16320 non-null  int64
 5   Area     16320 non-null  float64
 6   IntDen   16320 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 892.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15720 entries, 0 to 15719
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  15720 non-null  object
 1   Well     15720 non-null  object
 2   Field    15720 non-null  object
 3   Channel  15720 non-null  object
 4   Cycle    15720 non-null  int64
 5   Area     15720 non-null  float64
 6   IntDen   15720 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 859.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12768 entries, 0 to 12767
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  12768 non-null  object
 1   Well     12768 non-null  object
 2   Field    12768 non-null  object
 3   Channel  12768 non-null  object
 4   Cycle    12768 non-null  int64
 5   Area     12768 non-null  float64
 6   IntDen   12768 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 698.4+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14232 entries, 0 to 14231
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  14232 non-null  object
 1   Well     14232 non-null  object
 2   Field    14232 non-null  object
 3   Channel  14232 non-null  object
 4   Cycle    14232 non-null  int64
 5   Area     14232 non-null  float64
 6   IntDen   14232 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 778.4+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13104 entries, 0 to 13103
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  13104 non-null  object
 1   Well     13104 non-null  object
 2   Field    13104 non-null  object
 3   Channel  13104 non-null  object
 4   Cycle    13104 non-null  int64
 5   Area     13104 non-null  float64
 6   IntDen   13104 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 716.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10248 entries, 0 to 10247
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  10248 non-null  object
 1   Well     10248 non-null  object
 2   Field    10248 non-null  object
 3   Channel  10248 non-null  object
 4   Cycle    10248 non-null  int64
 5   Area     10248 non-null  float64
 6   IntDen   10248 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 560.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17400 entries, 0 to 17399
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  17400 non-null  object
 1   Well     17400 non-null  object
 2   Field    17400 non-null  object
 3   Channel  17400 non-null  object
 4   Cycle    17400 non-null  int64
 5   Area     17400 non-null  float64
 6   IntDen   17400 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 951.7+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13416 entries, 0 to 13415
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  13416 non-null  object
 1   Well     13416 non-null  object
 2   Field    13416 non-null  object
 3   Channel  13416 non-null  object
 4   Cycle    13416 non-null  int64
 5   Area     13416 non-null  float64
 6   IntDen   13416 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 733.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16872 entries, 0 to 16871
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  16872 non-null  object
 1   Well     16872 non-null  object
 2   Field    16872 non-null  object
 3   Channel  16872 non-null  object
 4   Cycle    16872 non-null  int64
 5   Area     16872 non-null  float64
 6   IntDen   16872 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 922.8+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24216 entries, 0 to 24215
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  24216 non-null  object
 1   Well     24216 non-null  object
 2   Field    24216 non-null  object
 3   Channel  24216 non-null  object
 4   Cycle    24216 non-null  int64
 5   Area     24216 non-null  float64
 6   IntDen   24216 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.3+ MB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16584 entries, 0 to 16583
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  16584 non-null  object
 1   Well     16584 non-null  object
 2   Field    16584 non-null  object
 3   Channel  16584 non-null  object
 4   Cycle    16584 non-null  int64
 5   Area     16584 non-null  float64
 6   IntDen   16584 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 907.1+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6264 entries, 0 to 6263
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  6264 non-null   object
 1   Well     6264 non-null   object
 2   Field    6264 non-null   object
 3   Channel  6264 non-null   object
 4   Cycle    6264 non-null   int64
 5   Area     6264 non-null   float64
 6   IntDen   6264 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 342.7+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14928 entries, 0 to 14927
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  14928 non-null  object
 1   Well     14928 non-null  object
 2   Field    14928 non-null  object
 3   Channel  14928 non-null  object
 4   Cycle    14928 non-null  int64
 5   Area     14928 non-null  float64
 6   IntDen   14928 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 816.5+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11592 entries, 0 to 11591
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  11592 non-null  object
 1   Well     11592 non-null  object
 2   Field    11592 non-null  object
 3   Channel  11592 non-null  object
 4   Cycle    11592 non-null  int64
 5   Area     11592 non-null  float64
 6   IntDen   11592 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 634.1+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5448 entries, 0 to 5447
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  5448 non-null   object
 1   Well     5448 non-null   object
 2   Field    5448 non-null   object
 3   Channel  5448 non-null   object
 4   Cycle    5448 non-null   int64
 5   Area     5448 non-null   float64
 6   IntDen   5448 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 298.1+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10128 entries, 0 to 10127
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  10128 non-null  object
 1   Well     10128 non-null  object
 2   Field    10128 non-null  object
 3   Channel  10128 non-null  object
 4   Cycle    10128 non-null  int64
 5   Area     10128 non-null  float64
 6   IntDen   10128 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 554.0+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16704 entries, 0 to 16703
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  16704 non-null  object
 1   Well     16704 non-null  object
 2   Field    16704 non-null  object
 3   Channel  16704 non-null  object
 4   Cycle    16704 non-null  int64
 5   Area     16704 non-null  float64
 6   IntDen   16704 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 913.6+ KB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19176 entries, 0 to 19175
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  19176 non-null  object
 1   Well     19176 non-null  object
 2   Field    19176 non-null  object
 3   Channel  19176 non-null  object
 4   Cycle    19176 non-null  int64
 5   Area     19176 non-null  float64
 6   IntDen   19176 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.0+ MB
None

 * * * * * * * * * * * * * * * * * * * * * * * * * *

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16224 entries, 0 to 16223
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cell ID  16224 non-null  object
 1   Well     16224 non-null  object
 2   Field    16224 non-null  object
 3   Channel  16224 non-null  object
 4   Cycle    16224 non-null  int64
 5   Area     16224 non-null  float64
 6   IntDen   16224 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 887.4+ KB
None

#### Count the number of unique channels in each of the dataframes

In [7]:
for df in df_Cyto:
    print('\n', '* ' * 26, '\n')
    print(df['Channel'].value_counts())

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     5694
DAPI    5694
Cy5     5694
FITC    5694
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     2106
Cy5     2106
DAPI    2106
FITC    2106
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     5166
DAPI    5166
Cy5     5166
FITC    5166
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4608
DAPI    4608
Cy5     4608
FITC    4608
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     2100
Cy5     2100
DAPI    2100
FITC    2100
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3060
DAPI    3060
Cy5     3060
FITC    3060
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     5010
DAPI    5010
Cy5     5010
FITC    5010
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4392
DAPI    4392
Cy5     4392
FITC    4392
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4080
DAPI    4080
Cy5     4080
FITC    4080
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3930
DAPI    3930
Cy5     3930
FITC    3930
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3192
DAPI    3192
Cy5     3192
FITC    3192
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3558
DAPI    3558
Cy5     3558
FITC    3558
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3276
DAPI    3276
Cy5     3276
FITC    3276
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     2562
Cy5     2562
DAPI    2562
FITC    2562
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4350
DAPI    4350
Cy5     4350
FITC    4350
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3354
DAPI    3354
Cy5     3354
FITC    3354
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4218
DAPI    4218
Cy5     4218
FITC    4218
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     6054
DAPI    6054
Cy5     6054
FITC    6054
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4146
DAPI    4146
Cy5     4146
FITC    4146
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     1566
Cy5     1566
DAPI    1566
FITC    1566
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     3732
DAPI    3732
Cy5     3732
FITC    3732
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     2898
DAPI    2898
Cy5     2898
FITC    2898
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     1362
Cy5     1362
DAPI    1362
FITC    1362
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     2532
Cy5     2532
DAPI    2532
FITC    2532
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4176
DAPI    4176
Cy5     4176
FITC    4176
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4794
DAPI    4794
Cy5     4794
FITC    4794
Name: Channel, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Cy3     4056
DAPI    4056
Cy5     4056
FITC    4056
Name: Channel, dtype: int64

#### Count the number of unique cycles in each of the dataframes

In [8]:
for df in df_Cyto:
    print('\n', '* ' * 26, '\n')
    print(df['Cycle'].value_counts())

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    3796
5    3796
4    3796
3    3796
2    3796
1    3796
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    1404
5    1404
4    1404
3    1404
2    1404
1    1404
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    3444
5    3444
4    3444
3    3444
2    3444
1    3444
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    3072
5    3072
4    3072
3    3072
2    3072
1    3072
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    1400
5    1400
4    1400
3    1400
2    1400
1    1400
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2040
5    2040
4    2040
3    2040
2    2040
1    2040
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    3340
5    3340
4    3340
3    3340
2    3340
1    3340
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2928
5    2928
4    2928
3    2928
2    2928
1    2928
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2720
5    2720
4    2720
3    2720
2    2720
1    2720
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2620
5    2620
4    2620
3    2620
2    2620
1    2620
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2128
5    2128
4    2128
3    2128
2    2128
1    2128
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2372
5    2372
4    2372
3    2372
2    2372
1    2372
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2184
5    2184
4    2184
3    2184
2    2184
1    2184
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    1708
5    1708
4    1708
3    1708
2    1708
1    1708
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2900
5    2900
4    2900
3    2900
2    2900
1    2900
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2236
5    2236
4    2236
3    2236
2    2236
1    2236
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2812
5    2812
4    2812
3    2812
2    2812
1    2812
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    4036
5    4036
4    4036
3    4036
2    4036
1    4036
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2764
5    2764
4    2764
3    2764
2    2764
1    2764
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

3    1044
6    1044
2    1044
5    1044
1    1044
4    1044
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2488
5    2488
4    2488
3    2488
2    2488
1    2488
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    1932
5    1932
4    1932
3    1932
2    1932
1    1932
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

3    908
6    908
2    908
5    908
1    908
4    908
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    1688
5    1688
4    1688
3    1688
2    1688
1    1688
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2784
5    2784
4    2784
3    2784
2    2784
1    2784
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    3196
5    3196
4    3196
3    3196
2    3196
1    3196
Name: Cycle, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

6    2704
5    2704
4    2704
3    2704
2    2704
1    2704
Name: Cycle, dtype: int64

#### Count the number of unique Cell IDs in each of the dataframes

In [9]:
for df in df_Cyto[:n]:
    print('\n', '* ' * 26, '\n')
    print(df['Cell ID'].value_counts())

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0125-0137    24
0506-0514    24
0114-0133    24
0568-0569    24
0322-0296    24
             ..
0535-0534    24
0006-0030    24
0278-0267    24
0608-0631    24
0307-0280    24
Name: Cell ID, Length: 949, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0238-0526    24
0340-1001    24
0037-0093    24
0182-0366    24
0024-0071    24
             ..
0301-0870    24
0026-0077    24
0138-0261    24
0177-0359    24
0009-0039    24
Name: Cell ID, Length: 351, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0555-0542    24
0242-0258    24
0624-0643    24
0088-0108    24
0190-0208    24
             ..
0588-0577    24
0638-0672    24
0304-0301    24
0054-0078    24
0422-0395    24
Name: Cell ID, Length: 861, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0172-0188    24
0429-0546    24
0410-0494    24
0277-0337    24
0625-0844    24
             ..
0098-0094    24
0250-0310    24
0070-0077    24
0728-0963    24
0551-0724    24
Name: Cell ID, Length: 768, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0183-0509    24
0008-0043    24
0105-0248    24
0154-0374    24
0153-0369    24
             ..
0010-0052    24
0326-0988    24
0052-0117    24
0258-0781    24
0134-0322    24
Name: Cell ID, Length: 350, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0059-0108    24
0329-0580    24
0198-0353    24
0058-0106    24
0455-0915    24
             ..
0265-0441    24
0307-0516    24
0480-0989    24
0507-1033    24
0458-0926    24
Name: Cell ID, Length: 510, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0262-0196    24
0415-0354    24
0373-0314    24
0602-0640    24
0797-0968    24
             ..
0827-1025    24
0680-0773    24
0317-0239    24
0439-0388    24
0667-0735    24
Name: Cell ID, Length: 835, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0700-1006    24
0346-0472    24
0683-1002    24
0032-0061    24
0378-0499    24
             ..
0149-0197    24
0612-0840    24
0495-0678    24
0512-0695    24
0136-0185    24
Name: Cell ID, Length: 732, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0519-0741    24
0334-0444    24
0204-0255    24
0462-0638    24
0434-0584    24
             ..
0586-0833    24
0143-0171    24
0536-0764    24
0005-0029    24
0044-0091    24
Name: Cell ID, Length: 680, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0148-0173    24
0229-0255    24
0071-0087    24
0640-1027    24
0090-0111    24
             ..
0312-0327    24
0483-0622    24
0595-0926    24
0131-0152    24
0043-0067    24
Name: Cell ID, Length: 655, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0175-0163    24
0250-0279    24
0138-0121    24
0172-0162    24
0377-0627    24
             ..
0029-0048    24
0227-0224    24
0429-0700    24
0494-0898    24
0404-0650    24
Name: Cell ID, Length: 532, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0074-0081    24
0261-0298    24
0557-0946    24
0095-0103    24
0279-0337    24
             ..
0029-0048    24
0209-0226    24
0143-0150    24
0497-0800    24
0584-0993    24
Name: Cell ID, Length: 593, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0146-0176    24
0254-0399    24
0370-0676    24
0185-0242    24
0074-0088    24
             ..
0005-0028    24
0313-0555    24
0206-0302    24
0339-0619    24
0080-0105    24
Name: Cell ID, Length: 546, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0209-0392    24
0206-0377    24
0062-0115    24
0288-0712    24
0307-0787    24
             ..
0166-0284    24
0119-0175    24
0181-0303    24
0289-0714    24
0241-0520    24
Name: Cell ID, Length: 427, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0502-0729    24
0631-0945    24
0402-0580    24
0673-0995    24
0124-0137    24
             ..
0036-0058    24
0546-0786    24
0621-0928    24
0521-0750    24
0380-0554    24
Name: Cell ID, Length: 725, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0270-0410    24
0272-0415    24
0084-0114    24
0231-0336    24
0180-0241    24
             ..
0537-1008    24
0497-0900    24
0520-0977    24
0323-0468    24
0391-0621    24
Name: Cell ID, Length: 559, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0692-1030    24
0663-1018    24
0385-0514    24
0348-0454    24
0635-0985    24
             ..
0022-0033    24
0212-0196    24
0151-0133    24
0041-0047    24
0412-0543    24
Name: Cell ID, Length: 703, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0286-0257    24
0400-0363    24
0055-0079    24
0429-0394    24
0816-0853    24
             ..
0527-0466    24
0595-0542    24
0006-0030    24
1001-1033    24
0797-0830    24
Name: Cell ID, Length: 1009, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0637-0943    24
0433-0471    24
0258-0256    24
0426-0436    24
0492-0629    24
             ..
0516-0664    24
0419-0426    24
0373-0376    24
0499-0642    24
0095-0107    24
Name: Cell ID, Length: 691, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0064-0118    24
0255-1031    24
0043-0069    24
0028-0053    24
0241-0986    24
             ..
0091-0192    24
0111-0232    24
0258-1033    24
0135-0362    24
0225-0839    24
Name: Cell ID, Length: 261, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0423-0582    24
0420-0587    24
0115-0158    24
0282-0330    24
0291-0347    24
             ..
0172-0213    24
0156-0210    24
0368-0500    24
0594-0960    24
0044-0091    24
Name: Cell ID, Length: 622, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0419-0887    24
0259-0560    24
0404-0863    24
0471-1026    24
0006-0030    24
             ..
0138-0289    24
0126-0271    24
0083-0180    24
0105-0229    24
0335-0685    24
Name: Cell ID, Length: 483, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0118-0381    24
0161-0735    24
0221-1026    24
0070-0201    24
0065-0191    24
             ..
0037-0157    24
0094-0257    24
0187-0872    24
0018-0118    24
0073-0197    24
Name: Cell ID, Length: 227, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0059-0108    24
0127-0198    24
0398-0995    24
0096-0151    24
0166-0337    24
             ..
0404-1009    24
0289-0648    24
0203-0466    24
0414-1030    24
0012-0038    24
Name: Cell ID, Length: 422, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0341-0523    24
0082-0113    24
0578-0847    24
0017-0042    24
0657-0963    24
             ..
0066-0114    24
0553-0804    24
0143-0199    24
0519-0756    24
0568-0823    24
Name: Cell ID, Length: 696, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0035-0060    24
0533-0655    24
0017-0033    24
0211-0279    24
0181-0243    24
             ..
0097-0108    24
0527-0652    24
0081-0096    24
0221-0281    24
0095-0107    24
Name: Cell ID, Length: 799, dtype: int64

 * * * * * * * * * * * * * * * * * * * * * * * * * *

0284-0422    24
0646-1012    24
0315-0457    24
0183-0252    24
0245-0361    24
             ..
0566-0886    24
0164-0226    24
0009-0036    24
0603-0954    24
0414-0673    24
Name: Cell ID, Length: 676, dtype: int64

#### Compute the number of cells in every field of each well

In [10]:
for df in df_Cyto[:n]:
    print('\n', '* ' * 26, '\n')
    print('Total cells in well {} field {}: {}'\
          .format(df.Well[0], df.Field[0], 
                  int(df.shape[0] / df['Cell ID'].value_counts()[0])))

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 1: 949

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 2: 351

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 3: 861

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 4: 768

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 5: 350

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 6: 510

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 7: 835

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 8: 732

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B02 field 9: 680

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 1: 655

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 2: 532

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 3: 593

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 4: 546

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 5: 427

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 6: 725

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 7: 559

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 8: 703

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B03 field 9: 1009

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 1: 691

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 2: 261

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 3: 622

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 4: 483

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 5: 227

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 6: 422

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 7: 696

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 8: 799

 * * * * * * * * * * * * * * * * * * * * * * * * * *

Total cells in well B04 field 9: 676